<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Chart.js example</title>
  </head>
  <body>
    <!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
    <h1>Red Line All Time Ridership</h1>
    <div style="width: 800px;"><canvas id="chart"></canvas></div>
    <div style="width: 800px;"><canvas id="chart2"></canvas></div>
    <div style="width: 800px;"><canvas id="chart3"></canvas></div>

    <!-- <script type="module" src="dimensions.js"></script> -->
    <!-- <script type="module" src="{% static './chart.js' %}"></script> -->
    <!-- <script type="text/html"  src="path/to/chartjs/dist/chart.umd.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script>
        const otherData = axios.get("https://transit.observer/upt/?ntd_id=60048&mode=CR,YR").then((resp) => {
            const chart = new Chart(
                document.getElementById('chart'),
                {
                    type: 'line',
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    // Include a dollar sign in the ticks
                                    callback: function(value, index, ticks) {
                                        return (
                                            new Intl.NumberFormat("en-US", {
                                                notation: "compact",
                                                compactDisplay: "short",
                                                }).format(value)
                                        )
                                    }
                                }
                            }]
                        }
                    },
                    data: 
                    {
                        labels: resp.data.data.map(row => row.year),
                        datasets: [
                        {
                            label: 'upt',
                            borderColor: "red",
                            backgroundColor: "pink",
                            data: resp.data.data.map(row => row.upt)
                        }
                        ]
                    }
                }
            )
        })
    </script>
    <br></br>
    <script>
        const ridersByModeType = axios.get("https://transit.observer/upt_by_mode_type/?ntd_id=60048").then((resp) => {
            const chart = new Chart(
                document.getElementById('chart2'),
                {
                    type: 'bar',
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    // Include a dollar sign in the ticks
                                    callback: function(value, index, ticks) {
                                        return (
                                            new Intl.NumberFormat("en-US", {
                                                notation: "compact",
                                                compactDisplay: "short",
                                                }).format(value)
                                        )
                                    }
                                }
                            }]
                        }
                    },
                    data: 
                    {
                        labels: resp.data.data.map(row => row.year),
                        datasets: [
                        {
                            label: 'Bus',
                            data: resp.data.data.map(row => row.bus),
                            backgroundColor: "green",
                            borderColor: "black"
                        },
                        {
                            label: 'Rail',
                            data: resp.data.data.map(row => row.rail),
                            backgroundColor: "red",
                            borderColor: "black"
                        },

                        {
                            label: 'MicroTransit',
                            data: resp.data.data.map(row => row.microtransit),
                            backgroundColor: "yellow",
                            borderColor: "black"
                        }
                        ]
                    }
                }
            )
        })
    </script>

<script>
    const opexpByModeType = axios.get("https://transit.observer/spending_by_mode_type/?expense_type=VO,VM,NVM,GA&ntd_id=60048").then((resp) => {
        const chart = new Chart(
            document.getElementById('chart3'),
            {
                type: 'bar',
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                // Include a dollar sign in the ticks
                                callback: function(value, index, ticks) {
                                    return (
                                        new Intl.NumberFormat("en-US", {
                                            notation: "compact",
                                            compactDisplay: "short",
                                            }).format(value)
                                    )
                                }
                            }
                        }]
                    }
                },
                data: 
                {
                    labels: resp.data.data.map(row => row.year),
                    datasets: [
                    {
                        label: 'Bus',
                        data: resp.data.data.map(row => row.bus),
                        backgroundColor: "green",
                        borderColor: "black"
                    },
                    {
                        label: 'Rail',
                        data: resp.data.data.map(row => row.rail),
                        backgroundColor: "red",
                        borderColor: "black"
                    },

                    {
                        label: 'MicroTransit',
                        data: resp.data.data.map(row => row.microtransit),
                        backgroundColor: "yellow",
                        borderColor: "black"
                    }
                    ]
                }
            }
        )
    })
</script>
  </body>
</html>
 