
   
{% load static %}
<html>


    
<fieldset id="local">
    {% for key in local_routes %} 
    <input type="checkbox" id="{{key.route_id__route_id|safe}}" name="local" unchecked>
    <label for="scales">{{key.route_id__route_long_name}}</label>
  {% endfor %}
</fieldset>
<div id="localSelectors">
<button onclick=selectLocal()>Select All Local Routes</button>
<button onclick=deselectLocal()>Deselect All Local Routes</button>
</div>


 <div style="width: 100%;" id="chartContainer"><canvas id="upt"></canvas></div>



 <script>

    const localRoutes = document.querySelector("#local");
    localRoutes.addEventListener("change", (event) => {

        var routes = getLocalRouteArray()
        refreshRidership(routes)
    });

    const localSelectors = document.querySelector("#localSelectors");
    localSelectors.addEventListener("click", (event) => {

        var routes = getLocalRouteArray()
        refreshRidership(routes)
    });

    // const allLocalRoutes = document.querySelector("#all");
    function SelectAllLocalRoutes() {
        console.log("hi")
    }
    function selectLocal(){  
        var ele=document.getElementsByName('local');  
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox')  
                ele[i].checked=true;  
        }  
    }  
    function deselectLocal(){  
        var ele=document.getElementsByName('local');  
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox')  
                ele[i].checked=false;  
                
        }  
    } 
    function getLocalRouteArray(){  
        var ele=document.getElementsByName('local');  
        var localRouteArray = []
        for(var i=0; i<ele.length; i++){  
            if(ele[i].type=='checkbox' && ele[i].checked==true)  
                localRouteArray.push(ele[i].id)
        } 
        return(localRouteArray)
    }  

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

 
    <script>
        
        function refreshRidership(routes) {

            // chart = Chart.getChart('chart')
            console.log(routes)
            ids = routes.join(",")
            console.log(ids)
            url = "/monthly_ridership/?route_id=" + ids
            // console.log(url)
            const pmtByMode = axios.get(url).then((resp) => {
                uptChart = document.getElementById("upt")
                uptChart.remove()
                let uptCanvas = document.createElement('canvas')
                uptCanvas.id = "upt"
                document.body.appendChild(uptCanvas);
                const pmtByMode = axios.get(url).then((resp) => {
                    var uptChart = new Chart(
                        document.getElementById('upt'),
                        {
                            type: 'line',
                            options: {
                                tooltips: {
                                callbacks: {
                                    label: function(tooltipItem, data) {
                                        return (
                                            new Intl.NumberFormat("en-US", {
                                                notation: "compact",
                                                compactDisplay: "short",
                                                }).format(tooltipItem.yLabel)
                                        )
                                    }
                                }
                            },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            // Include a dollar sign in the ticks
                                            callback: function(value, index, ticks) {
                                                return (
                                                    new Intl.NumberFormat("en-US", {
                                                        notation: "compact",
                                                        compactDisplay: "short",
                                                        }).format(value)
                                                )
                                            }
                                        }
                                    }]
                                }
                            },
                            data: 
                            {
                                labels: resp.data.data.map(row => row.year),
                                datasets: [
                                {
                                    label: 'Riders',
                                    data: resp.data.data.map(row => row.riders),
                                    backgroundColor: "white",
                                    borderColor: "black"
                                },
                                ]
                            }
                        }
                    )
                })
                // addData(chart, resp.data.data, resp.data.data)
            })
        }


        var routes = getLocalRouteArray()
        ids = routes.join(",")
        console.log(ids)
        url = "/monthly_ridership/?route_id=" + ids
        console.log(url)
        const pmtByMode = axios.get(url).then((resp) => {
            var uptChart = new Chart(
                document.getElementById('upt'),
                {
                    type: 'line',
                    options: {
                        tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return (
                                    new Intl.NumberFormat("en-US", {
                                        notation: "compact",
                                        compactDisplay: "short",
                                        }).format(tooltipItem.yLabel)
                                )
                            }
                        }
                    },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    // Include a dollar sign in the ticks
                                    callback: function(value, index, ticks) {
                                        return (
                                            new Intl.NumberFormat("en-US", {
                                                notation: "compact",
                                                compactDisplay: "short",
                                                }).format(value)
                                        )
                                    }
                                }
                            }]
                        }
                    },
                    data: 
                    {
                        labels: resp.data.data.map(row => row.year),
                        datasets: [
                        {
                            label: 'Riders',
                            data: resp.data.data.map(row => row.riders),
                            backgroundColor: "white",
                            borderColor: "black"
                        },
                        ]
                    }
                }
            )
        })
    </script>
    </html>