<html>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=30.232507,-97.62748&zoom=20&size=1000x1000&key=AIzaSyB_8J8-kSrXKxEg4kjWjWC1NHg8pLJFCdk&maptype=satellite">
    <img src="https://maps.googleapis.com/maps/api/streetview?size=1000x1000&fov=120&location=30.232507,-97.62748&heading=1&pitch=-0.76&key=AIzaSyB_8J8-kSrXKxEg4kjWjWC1NHg8pLJFCdk">

    <img src="https://maps.googleapis.com/maps/api/streetview?size=1000x1000&fov=120&location=30.232507,-97.62748&heading=181&pitch=-0.76&key=AIzaSyB_8J8-kSrXKxEg4kjWjWC1NHg8pLJFCdk">
</html>